<!DOCTYPE html>
<html>
<head>
	<title>WineBar</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:81/projectSlim3/src/foundation/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:81/projectSlim3/src/foundation/reveal/reveal.css">
	<script type="text/javascript" src="http://localhost:81/projectSlim3/src/foundation/reveal/jquery-1.4.4.min.js"></script>
	<script src="http://localhost:81/projectSlim3/src/foundation/reveal/jquery.reveal.js"></script>

	<style>
		body{
			text-align: center
		}
		.jumbotron{
			background-color: transparent;
		}
		a{
			font-size: 20px;
			color: black !important;
			cursor: pointer;
		}
		a:hover{
			color: grey !important;
		}
		#menu, .menu{
			background-color: transparent !important;
			font-size: 1.1em;
		}
		.mainTitre{
			font-size: 400%;
			color: grey;
		}
		.lead{
			font-size: 150%;
			color: grey;
		}
		.callout{
			border: none;
		}
		.fontSmall{
			font-size: 0.6em;
		}
	</style>
</head>
<body>
	<nav>
		<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
	        <button class="menu-icon" type="button" data-toggle></button>
	        <div class="title-bar-title" data-hide-for="large">Menu</div>
	     </div>
	      
	      <div class="top-bar" id="menu">
	        <div class="top-bar-left">
	          <ul class="dropdown menu" data-dropdown-menu>
	            <li class="menu-text">Sort Wine by :</li>
	            <li>
	              <a href="orderby/name">Name</a>
	            </li>
	            <li>
	              <a href="orderby/year">Year</a>
	            </li>
	            <li>
	              <a href="orderby/region">Region</a>
	            </li>
	            <li>
	              <a href="orderby/country">Country</a>
	            </li>
	          </ul>
	        </div>
			<ul class="top-bar-right menu">
	          	<li>
	              <a href="#home">Home</a>
	            </li>
	        </ul>
	      </div>
	<nav>
	<div class="callout large">
		<div class="row column text-center">
			<h1 id="home" class="mainTitre"><strong>Wine Bar</strong></h1>
			<p class="lead">Wine from your area</p>
		</div>
	</div>
    <div class="callout large">
        <div class="row" id="catalog">
			{% for data in datas %}
				<div class="small-12 medium-4 large-3 columns" style="padding-bottom: 50px">
					<p class="small-12 columns fontSmall">
					<strong>{{ data.name }} - {{ data.year }}</strong></p>
				 	<a href="#" data-reveal-id="firstModal"><img  class="thumbnail cel"
				 	id="img{{ data.id }}" src="http://localhost:81/projectSlim2/src/img/{{ data.picture }}" alt="{{ data.name }}" /></a>

					<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
					 	<h4 id="firstModalTitle"></h4>
					  	<p><strong id="grapes"></strong><p>
					  	<p><strong id="country"></strong><p>
					  	<p id="content"></a>
					</div>	
				</div>
			{% endfor %}  
        </div> 
    </div>

    <script src="http://localhost:81/projectSlim3/src/foundation/js/vendor/jquery.min.js"></script>
    <script src="http://localhost:81/projectSlim3/src/js/main.js"></script>
	<script src="http://localhost:81/projectSlim3/src/foundation/js/vendor/what-input.min.js"></script>
	<script src="http://localhost:81/projectSlim3/src/foundation/js/foundation.min.js"></script>
	<script src="http://localhost:81/projectSlim3/src/foundation/js/app.js"></script>
</body>
</html>