{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
		body{
			text-align: center
		}
		.jumbotron{
			background-color: transparent;
		}
		a{
			font-size: 20px;
			color: black !important;
			cursor: pointer;
		}
		a:hover{
			color: grey !important;
		}
		#menu, .menu{
			background-color: transparent !important;
			font-size: 1.1em;
		}
		.mainTitre{
			font-size: 400%;
			color: grey;
		}
		.lead{
			font-size: 150%;
			color: grey;
		}
		.callout{
			border: none;
		}
		.fontSmall{
			font-size: 0.6em;
		}
	</style>
{% endblock %}
{% block content %}
{{ parent() }}
    <div class="callout large">
        <div class="row" id="catalog">
			{% for data in datas %}
				<div class="small-12 medium-4 large-3 columns" style="padding-bottom: 50px">
					<p class="small-12 columns fontSmall">
					<strong>{{ data.name }} - {{ data.year }}</strong></p>
				 	<a href="#" data-reveal-id="firstModal"><img  class="thumbnail cel"
				 	id="img{{ data.id }}" src="http://localhost:81/projectSlim2/src/img/{{ data.picture }}" alt="{{ data.name }}" /></a>

					<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
					 	<h4 id="firstModalTitle"></h4>
					  	<p><strong id="grapes"></strong><p>
					  	<p><strong id="country"></strong><p>
					  	<p id="content"></a>
					</div>	
				</div>
			{% endfor %}  
        </div> 
    </div>

    <!-- Pagination -->
    <ul class="pagination">
	  <li class="current"><a href="http://localhost:81/ProjectSlim3/">1</a></li>
	  <li><a href="http://localhost:81/projectSlim3/page/2">2</a></li>
	  <li><a href="http://localhost:81/projectSlim3/page/3">3</a></li>
	</ul>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block link %}
	{{ parent() }}
{% endblock %}

