{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
	<style>
		body{
			text-align: center
		}
		.jumbotron{
			background-color: transparent;
		}
		a{
			font-size: 20px;
			color: black !important;
			cursor: pointer;
		}
		a:hover{
			color: grey !important;
		}
		#menu, .menu{
			background-color: transparent !important;
			font-size: 1.1em;
		}
		.mainTitre{
			font-size: 400%;
			color: grey;
		}
		.lead{
			font-size: 150%;
			color: grey;
		}
		.callout{
			border: none;
		}
	</style>
{% endblock %}
{% block content %}
{{ parent() }}
			<p>Sorted by <strong>{{ order|capitalize }}</strong></p>
		</div>
	</div>
    <div class="callout large">
        <div class="row" id="catalog">
			{% for data in datas %}
				<div class="small-12 medium-4 large-3 columns" style="padding-bottom: 50px">
					<p class="small-12 columns fontSmall">
					<strong>{{ data.name }}</strong></p>
					<img  class="thumbnail"
				 id="img{{ data.id }}" src="http://localhost:81/projectSlim2/src/img/{{ data.picture }}" alt="{{ data.name }}" />	
				</div>
			{% endfor %}  
        </div> 
    </div>
{% endblock %}
{% block footer %}
	{{ parent() }}
{% endblock %}
{% block link %}
	{{ parent() }}
{% endblock %}